<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar JSON para Django</title>
</head>
<body>
    <form id="jsonForm">
        <button type="submit">Enviar JSON</button>
    </form>

    <script>
        document.getElementById('jsonForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const jsonData ={
                "action": "payment.updated",
                "api_version": "v1",
                "data": {
                    "id": "96113536893"
                },
                "date_created": "2024-12-16T00:03:54Z",
                "id": 117834148298,
                "live_mode": true,
                "type": "payment",
                "user_id": "263804782"
                };
                            try {
                const response = await fetch('api/webhook/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' // CSRF token para segurança em requisições POST no Django
                    },
                    body: JSON.stringify(jsonData)
                });

                if (response.ok) {
                    alert("JSON enviado com sucesso!");
                } else {
                    alert("Erro ao enviar o JSON.");
                }
            } catch (error) {
                console.error("Erro:", error);
                alert("Erro ao enviar o JSON.");
            }
        });
    </script>
</body>
</html>
