/* Geral */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

.header-content .logo {
    font-size: 24px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.search-container {
    position: relative;
}

#search-input {
    padding: 10px;
    padding-left: 35px; /* Espaço para a lupa */
    width: 250px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 16px;
    background-color: transparent;
    color: white;
}

#search-input:focus {
    outline: none;
    border-color: white;
}

#search-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

/* Spinner de carregamento */
#loading-spinner {
    display: none;  /* Inicialmente oculto */
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid red;  /* Cor da borda */
    border-radius: 50%;
    animation: spin 1s linear infinite;  /* Animação de rotação */
}

/* Animação do círculo */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* Resultados */
.result-container {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 300px;
    text-align: center;
}

.result-container p {
    font-size: 18px;
    color: white;
}


#qrcode-container {
    visibility: hidden;
    margin-top: 20px;
    padding: 20px;
    background-color: #fafafa; /* Fundo suave */
    border: 1px solid #ddd; /* Borda sutil */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

#qrcode-container h2 {
    margin-bottom: 20px;
    color: #333;
}

#qrcode-image {
    max-width: 250px; /* Limita o tamanho da imagem */
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 15px;
}

#download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Cor do botão de download */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#download-link:hover {
    background-color: #ec0000; /* Efeito de hover para o botão */
}

#status, #clienteId, #gerado {
    font-weight: bold;
}


/* Estilo do rodapé */
.footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #ccc;
    margin-top: 30px;
}
